extends layout


block content
  link(rel='stylesheet', href='/stylesheets/chat.css')
  h1= title
  p Welcome to #{title}
  div#chatArea
    div#messageArea
      ul#messages
    form(action="")
      //- input#name(class="name", placeholder="닉네임")
      div(class="input-group mb-3")
        input#msg(autocomplete="off", type="text", class="form-control", placeholder="Recipient's username", aria-label="Recipient's username", aria-describedby="basic-addon2")
        div(class="input-group-append")
        button#sendBtn(class="btn btn-outline-secondary btn-light") Send
        
      
    
  //- Modal
  div(class="modal fade", id="myModal", role="dialog")
    div(class="modal-dialog")
    
      //- Modal Content
      div(class="modal-content")
        div(class="modal-header")
          
          h4(class="modal-title") 닉네임 설정
        div(class="modal-body")
          div(class="input-group mb-3")
            input#input_username(autocomplete="off", type="text", class="form-control", placeholder="닉네임을 입력해주세요", aria-label="", aria-describedby="basic-addon2")
            div(class="input-group-append")
            button#setUsername(class="btn btn-outline-secondary btn-light") 확인
        
        div(class="modal-footer")
          
        
      
      
    
    


    
  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js")
  script(src="../javascripts/index.js")
    