.name{
    width: 10%

}
.text{
    width: 70%
}
.send{
    width: 5%
}
#chatArea{
    height: 100%;
}
#messageArea{
    height: 300px;
    max-height: 300px;
    overflow: auto;
    background-color: cornflowerblue;
}
li{
    list-style-type: none;
    margin: 6px;
}
li.my{
    
    text-align: right
}
div.sys{
    text-align: center;
    clear: both;
}
div.msg{
    float: right;
    clear:both;
    margin: 1%;
    max-width: 40%;
    background-color: gold;
    padding: 5px;
    border-radius: 1vh;
    font-size: 1.5em;
    word-wrap: break-word;
    
}
div.othermsg{
    float: left;
    clear:both;
    margin: 1%;
    max-width: 40%;
    background-color: azure;
    padding: 5px;
    border-radius: 1vh;
    font-size: 1.5em;
    word-wrap: break-word;
}
