.name{
    width: 10%

}
.text{
    width: 70%
}
.send{
    width: 5%
}
#chatArea{
    height: 100%;
}
#messageArea{
    height: 300px;
    max-height: 300px;
    overflow: auto;
    background-color:#b0c7d4;
}
li{
    list-style-type: none;
    margin: 6px;
}
li.my{
    
    text-align: right
}
div.sys{
    text-align: center;
    clear: both;
}

div.msg{
    float: right;
    clear:both;
    margin: 0.2%;
    max-width: 40%;
    background-color: #fee106;
    padding: 0.2%;
    border-radius: 1vh;
    font-size: 1.5em;
    word-wrap: break-word;
    
}
div.nickName{
    float:left;
    clear:both;
    margin-top: 1%;
 
 
}
div.othermsg{
    float: left;
    clear:both;
    margin-top: 0.2%;
    max-width: 40%;
    background-color: white;
    padding: 0.2%;
    border-radius: 1vh;
    font-size: 1.5em;
    word-wrap: break-word;
}
